@import "variables";
.formCard {
  background-image: url("https://static.prsa.pl/f216babf-e7b0-45e7-a0b5-ba8a4f7434ed.file");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
}
.form-bg .form-group input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.form-bg input.form-control-file,
.form-bg .form-control {
  border: none;
  color: #fff200 !important;
  font-family: $font-paragraphs;
  font-size: 16px;
}
.input.form-control-file#file-upload-button {
  background-color: transparent !important;
  color: transparent !important;
}
.form-bg input#file-upload-button {
  color: transparent;
}
.form-bg {
  background-color: rgba(255, 242, 0, 0.9);
  border: 3px solid #000;
  padding: 30px;
}
.row {
  display: flex;
  margin: 0;
  width: 100%;
}
.row-md,
.row-lg {
  position: relative;
  padding-top: 5px;
}
.row-lg {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.form-bg__header {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  color: #000;
  font-family: $font-paragraphs;
}
.form-bg__required::after {
  content: "*";
  display: block;
  position: absolute;
  right: -12px;
  top: -2px;
  color: #e31936;
}
.row-lg textarea {
  width: calc(100% - 22px);
  height: 100px;
  padding: 8px 10px;
  max-width: 100%;
  background-color: $bcg-color;
  color: #fff200;
  font-family: $font-paragraphs;
  font-size: 16px;
}
.row textarea::placeholder {
  color: $yellow-color;
  font-family: "Open sans", sans-serif;
}
.row-2 {
  width: 50%;
  padding: 0 15px;
}
.form-bg .form-group {
  position: relative;
  display: flex;
  align-items: center;
}
.form-bg .form-control {
  width: calc(100% - 15px);
  height: 30px;
  margin-top: 5px;
  background-color: $bcg-color;
  border: none;
  padding: 8px 10px 8px 5px;
}
.form-control__wrapper {
  max-width: 271px;
}
.form-control label {
  color: #fff;
  border: 2px solid #fff;
  line-height: 2;
  padding: 0 20px 0 5px;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}
.form-control label::after {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 15px;
}
.file-input-text {
  padding-left: 10px;
  overflow: hidden;
}
.row-lg .errors,
.row-md .errors {
  position: absolute;
  content: "";
}
.row-lg .errors {
  bottom: -32px;
  right: 0px;
}
.row-md .errors {
  bottom: -35px;
  right: -15px;
}
.row-md .checkbox-errors {
  top: 73px;
  left: 0;
}
.errors p {
  padding: 6px 10px;
  background-color: white;
  border: 2px solid #e31936;
  display: inline-block;
  color: #e31936;
  font-size: 14px;
  font-weight: 600;
}
.send-btn__wrapper {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: -45px;
  width: 100%;
}

.send-btn__wrapper button {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  padding: 4px 0;
  font-weight: 600;
  width: 100px;
  height: 34px;
  z-index: 100;
  position: absolute;
  z-index: 1;
}
.form-bg .checkbox-rules {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin: 20px 0 0;
}
.checkbox-rules__text a {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  text-decoration: underline;
  color: #000;
}
.checkbox-rules label {
  width: 6px;
  height: 5px;
  background-color: #fff;
  padding: 5px;
  border: 2px solid #000;
  position: relative;
  cursor: pointer;
  margin-top: 5px;
}
.checkbox-rules input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}
.checkbox-rules .checked::after {
  position: absolute;
  content: "";
  top: 5.5px;
  left: 0px;
  height: 10px;
  width: 10px;
  border: 1px solid #fff200;
  background: black;
}
.statement-box {
  width: 50%;
  text-align: right;
  margin-top: 20px;
}
.statement-box a {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #1c1c19;
  font-family: "Open Sans", Arial, sans-serif !important;
  padding-right: 15px;
  position: relative;
}
.statement-box span {
  width: 15px;
  height: 15px;
  border: 2px solid #000;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
.statement-box span:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 10px;
  width: 11px;
  height: 2px;
  background-color: #000;
}

.checkbox-rules__text {
  margin: 0;
  padding-left: 10px;
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
.checkbox-rules__text a {
  font-weight: 700 !important;
}
input:focus,
select:focus,
textarea:focus {
  outline-color: #e31936;
}
@media (max-width: 991px) {
  .form-bg {
    padding-bottom: 100px;
  }
  .row {
    flex-direction: column;
    width: calc(100% - 30px);
  }
  .form-bg__header {
    margin-top: 5px;
  }
  .row-2 {
    width: 100%;
  }
  .statement-box {
    width: 100%;
    text-align: left;
  }
  .checkbox-rules label {
    margin-top: 0;
  }
  .row-md .checkbox-errors {
    top: 0px;
    left: 0;
    position: relative;
  }
  .send-btn__wrapper {
    position: absolute;
    bottom: -80px;
    right: 0px;
  }
  .form-control__wrapper {
    max-width: calc(100% - 135px);
  }
  .checkbox-rules .checked::after {
    top: 0.5px;
    left: 0px;
  }
  .checkbox-errors p {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .form-bg {
    padding: 10px;
    padding-bottom: 100px;
  }
  .row {
    width: 100%;
  }
  .row-md,
  .row-lg {
    padding-top: 10px;
  }
  .row-lg {
    padding-left: 0;
    padding-right: 0;
  }
  .row-2 {
    padding: 0;
  }
  .form-control .form-control {
    width: 100%;
  }
  .form-control label {
    width: calc(100% - 35px);
    max-width: calc(100% - 15px);
  }
  .form-bg .form-group.form-control {
    height: auto;
    margin-top: 5px;
    flex-wrap: wrap;
    padding: 5px 0 5px 5px;
    width: calc(100% - 5px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
  }
  .form-control__wrapper {
    max-width: calc(100% - 15px);
    height: 22px;
  }
  .file-input-text {
    padding-left: 0;
    margin-top: 5px;
  }
  .row-lg .errors {
    bottom: -35px;
  }
  .row-md .errors {
    right: 0;
    bottom: -40px;
  }
  .row-md .checkbox-errors {
    top: 0px;
  }
  .checkbox-rules label {
    width: 3px;
    height: 3px;
    padding: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .checkbox-rules .checked::after {
    top: -2.2px;
    left: 0;
    width: 9px;
    height: 9px;
  }
  .checkbox-rules input {
    top: 2px;
    left: -1px;
    width: 12px;
    height: 12px;
  }
  .statement-box {
    margin-top: 5px;
  }
  .statement-box span {
    width: 12px;
    height: 12px;
  }
  .statement-box span::after {
    top: 5px;
    left: 8px;
  }
  .send-btn__wrapper {
    bottom: -70px;
  }
  .errors p {
    font-size: 14px;
    padding: 5px 8px;
  }
}
@media (max-width: 650px) {
  .form-bg__header {
    margin-top: 15px;
  }
  .row-lg .errors {
    right: 0px;
    bottom: -30px;
  }
  .row-md .errors {
    bottom: -35px;
  }
  .errors p {
    font-size: 13px;
    padding: 4px 8px;
  }
}
@media (max-width: 600px) {
  .row-lg textarea {
    padding-bottom: 30px;
  }
  .checkbox-rules label {
    width: 4px;
  }
}

@media (max-width: 420px) {
  .checkbox-rules label {
    width: 5px;
  }
}
@media (max-width: 405px) {
  .send-btn__wrapper {
    bottom: -90px;
  }
}
// ------------------loader----
.wrapper {
  position: absolute;
  right: -7px;
  bottom: 0px;
  transform: translate(-50%, -50%);
}
.circle {
  margin: 0 2px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fcdc29;
  border-radius: 50%;
  animation: loading 1.5s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
}
@keyframes loading {
  0% {
    transform: translateY(0px);
    background-color: #fcdc29;
  }
  50% {
    transform: translateY(10px);
    background-color: #ef584a;
  }
  100% {
    transform: translateY(0px);
    background-color: #fcdc29;
  }
}
.circle-1 {
  animation-delay: 0.1s;
}
.circle-2 {
  animation-delay: 0.2s;
}
.circle-3 {
  animation-delay: 0.3s;
}
.circle-4 {
  animation-delay: 0.4s;
}
